@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

@mixin mobile {
  @media (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin min-width ($mix-width) {
  @media (min-width: $mix-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover-focus-link {
  transition: color $style-change-duration $style-change-function;

  &:hover,
  &:focus {
    color: $white-opacity-60;
  }
}

@mixin hover-focus-link-orange {
  transition: color $style-change-duration $style-change-function;

  &:hover,
  &:focus {
    color: $orange-dark;
  }
}

@mixin hover-focus-button-first {
  transition: all $style-change-duration $style-change-function;

  &:hover,
  &:focus {
    color: $white;
    background-color: $orange;
  }
}

@mixin hover-focus-button-second {
  transition: background-color $style-change-duration $style-change-function;

  &:hover,
  &:focus {
    background-color: $orange-darknes;
  }
}

@mixin hover-focus-button-third {
  transition: all $style-change-duration $style-change-function;

  &:hover,
  &:focus {
    color: $purple-light;
    background-color: $white;
  }
}

@mixin hover-focus-button-shadow {
  transition: box-shadow $style-change-duration $style-change-function;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
  }
}

@mixin hover-focus-scale {
  transition: transform $style-change-duration $style-change-function;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
