@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

@mixin mobile {
  @media (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop-max-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
