$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1440px;
$desktop-min-width: 1024px;
$tablet-min-width: 768px;
$mobile-min-width: 320px;

$desktop-padding: 20px;
$tablet-padding: 20px;
$mobile-padding: 20px;

$reserve-font-family: "Arial", "Helvetica", sans-serif;
$main-font-family: "Montserrat", $reserve-font-family;
$secondary-font-family: "Roboto", $reserve-font-family;
$third-font-family: "SourceSansPro", $reserve-font-family;

$style-change-duration: 0.2s;
$style-change-function: ease-in-out;

$gray: #393939;
$gray-dark: #2e2e2e;
$gray-darken: #262626;
$gray-darknes: #292929;
$black-opacity-10: rgba(0, 0, 0, 0.1);
$black-opacity-20: rgba(0, 0, 0, 0.2);
$black-lighten: #202020;
$black-light: #171718;
$black-lighter: #1d1d1d;
$white: #ffffff;
$white-dark: #f1f1f1;
$white-opacity-60: rgba(255, 255, 255, 0.6);
$white-opacity-10: rgba(255, 255, 255, 0.1);
$orange: #ff834e;
$orange-dark: #ef8b54;
$orange-darknes: #de774b;
$mustard: #de9b55;
$purple: #50386f;
$purple-gradient: linear-gradient(170.25deg, #8d5dcc -128.51%, #55329e 221.38%);
$orange-gradient: linear-gradient(160.21deg, #de9b55 -8.73%, #ee5432 93.23%);

