.container {
  width: 100%;
  margin: 0 auto;

  @include mobile {
    max-width: $mobile-max-width;
    padding: 0 $mobile-padding;
  }

  @include tablet {
    max-width: $tablet-max-width;
    padding: 0 $tablet-padding;
  }

  @include desktop {
    max-width: $desktop-max-width;
    padding: 0 $desktop-padding;
  }
}
