.header {
  width: 100%;
  min-height: 50px;
  padding-top: 7px;
  padding-bottom: 8px;
  background-color: $black-lighten;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

.header__logo {
  display: block;

  & svg {
    width: auto;
    height: 23.57px;
  }

  & .title {
    @include mobile {
      display: none;
    }
  }
}


.header_contacts {
  display: none;
}
