.promo {
  @include mobile {
    padding-top: 30px;
    padding-bottom: 25px;
    min-height: 526px;
    background-color: $black-light;
    background-image: url("../img/mobile/promo-bg-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include retina {
      background-image: url("../img/mobile/promo-bg-mobile@2x.png");
    }

    & h1 {
      position: relative;
      margin: 0;
      margin-bottom: 12px;
      padding-left: 18px;
      font-weight: 700;
      font-size: 12.5492px;
      line-height: 15px;
      color: $orange;

      @include tablet {
        padding-left: 26px;
        font-size: 20px;
        margin-bottom: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        width: 12px;
        height: 12px;
        background-image: url("../img/svg-sprite/icon-shopping-cart.svg");
        background-repeat: no-repeat;

        @include tablet {
          top: -2px;
          width: 18px;
          height: 18px;
        }

        @include desktop {
          top: 1px;
          left: -6px;
          width: 26px;
          height: 24px;
        }
      }

      @include desktop {
        margin-bottom: 23px;
        font-size: 22.6667px;
        line-height: 28px;
      }
    }

    & p {
      margin: 0;
      font-weight: 700;
      font-size: 20.7996px;
      line-height: 28px;
      color: $white;

      @include tablet {
        margin-bottom: 20px;
        font-size: 26px;
        text-align: center;
      }

      @include desktop {
        margin-bottom: 31px;
        font-size: 52px;
        line-height: 70px;
        text-align: left;
        z-index: 2;
      }
    }

    & img {
      position: relative;
      width: 221px;
      height: 261px;
      top: 18px;
      left: 50%;
      margin-bottom: 19px;
      transform: translateX(-50%);

      @include tablet {
        width: 287px;
        height: 339px;
      }

      @include desktop {
        position: absolute;
        top: -120px;
        right: -346px;
        left: auto;
        width: 621px;
        height: 862px;
        z-index: 1;
      }
    }

    & button {
      position: relative;
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
      padding: 15px;
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      color: $white;
      border: none;
      background-color: $orange;
      outline: none;
      cursor: pointer;

      @include hover-focus-button-second;

      & span:first-of-type {
        display: none;

        @include desktop {
          display: block;
          margin: 0;
        }
      }

      & span:last-of-type {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        opacity: 1;

        @include desktop {
          display: none;
        }
      }

      &::after {
        position: absolute;
        content: "";
        width: 47.72px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $orange-darknes;
        background-image: url("../img/svg-sprite/icon-arrow-right-top.svg");
        background-repeat: no-repeat;
        background-position: center center;

        @include desktop {
          width: 62px;
        }
      }

      @include desktop {
        max-width: 329px;
        padding-top: 19px;
        padding-bottom: 19px;
        order: 3;
      }
    }

    & span:first-of-type {
      display: none;

      @include desktop {
        display: block;
        margin: 0;
        margin-bottom: 244px;
        font-size: 20px;
        line-height: 27px;
        color: $white;
        z-index: 3;
      }
    }

    & span:last-of-type {
      display: block;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: $white;
      text-align: center;
      opacity: 0.5;

      @include desktop {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        font-variant: small-caps;
        text-align: left;
        order: 2;
        opacity: 1;
      }
    }
  }

  @include desktop {
    overflow-x: hidden;
    min-height: 1050px;
    padding-top: 80px;
    background-image: url("../img/desktop/promo-bg-desktop@1x.png");

    @include retina {
      background-image: url("../img/desktop/promo-bg-desktop@2x.png");
    }

    & .container {
      position: relative;
      padding-left: 17px;
    }
  }
}


.promo__wrapper {
  @include desktop {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    max-width: 824px;
    min-height: 590px;
  }
}
