<section class="cases">
  <h2><span>Кейсы говорят за себя</span>Наши кейсы</h2>
  <article class="cases__item">
    <img width="240" height="150" src="img/mobile/flowers-mobile@1x.jpg" srcset="img/mobile/flowers-mobile@2x.jpg 2x" alt="Королевство цветов">
    <h2>Королевство цветов</h2>
    <p>Интернет-магазин</p>
  </article>
  <article class="cases__item">
    <img width="240" height="150" src="img/mobile/climate-mobile@1x.jpg" srcset="img/mobile/climate-mobile@2x.jpg 2x" alt="Мастер климат">
    <h2>Мастер климат</h2>
    <p>Интернет-магазин</p>
  </article>
  <article class="cases__item">
    <img width="240" height="150" src="img/mobile/pharmacy-mobile@1x.jpg" srcset="img/mobile/pharmacy-mobile@2x.jpg 2x" alt="Новая аптека">
    <h2>Новая аптека</h2>
    <p>Интернет-магазин</p>
  </article>
  <article class="cases__item">
    <img width="240" height="150" src="img/mobile/reserve-mobile@1x.jpg" srcset="img/mobile/reserve-mobile@2x.jpg 2x" alt="Восток Тех Резерв">
    <h2>Восток Тех Резерв</h2>
    <p>Интернет-магазин</p>
  </article>
  <div class="cases__request">
    <p>Оставьте свою заявку, чтобы получить <b>БЕСПЛАТНУЮ</b> консултацию!</p>
    <button type="button">Оставить заявку</button>
  </div>
</section>
