<section class="cases">
  <div class="container">
    <h2><span>Кейсы говорят за себя</span><span>Наши кейсы</span></h2>
    <div class="cases__wrapper">
      <article class="cases__item">
          <picture>
            <source srcset="img/desktop/flowers-desktop@1x.jpg 1x, img/desktop/flowers-desktop@2x.jpg,2x"
              media="(min-width: 1024px)">
              <img src="img/mobile/flowers-mobile@1x.jpg"
              srcset="img/mobile/flowers-mobile@2x.jpg 2x" alt="Королевство цветов">
          </picture>
          <button type="button" aria-label="Посмотреть кейс"></button>
        <h2>Королевство цветов</h2>
        <p>Интернет-магазин</p>
      </article>
      <article class="cases__item">
        <picture>
          <source srcset="img/desktop/climate-desktop@1x.jpg 1x, img/desktop/climate-desktop@2x.jpg,2x"
            media="(min-width: 1024px)">
            <img src="img/mobile/climate-mobile@1x.jpg"
            srcset="img/mobile/climate-mobile@2x.jpg 2x" alt="Мастер климат">
        </picture>
        <button type="button" aria-label="Посмотреть кейс"></button>
        <h2>Мастер климат</h2>
        <p>Интернет-магазин</p>
      </article>
      <article class="cases__item">
        <picture>
          <source srcset="img/desktop/pharmacy-desktop@1x.jpg 1x, img/desktop/pharmacy-desktop@2x.jpg,2x"
            media="(min-width: 1024px)">
            <img src="img/mobile/pharmacy-mobile@1x.jpg"
            srcset="img/mobile/pharmacy-mobile@2x.jpg 2x" alt="Новая аптека">
        </picture>
        <button type="button" aria-label="Посмотреть кейс"></button>
        <h2>Новая аптека</h2>
        <p>Интернет-магазин</p>
      </article>
      <article class="cases__item">
        <picture>
          <source srcset="img/desktop/reserve-desktop@1x.jpg 1x, img/desktop/reserve-desktop@1x.jpg,2x"
            media="(min-width: 1024px)">
            <img src="img/mobile/reserve-mobile@1x.jpg"
            srcset="img/mobile/reserve-mobile@2x.jpg 2x" alt="Восток Тех Резерв">
        </picture>
        <button type="button" aria-label="Посмотреть кейс"></button>
        <h2>Восток Тех Резерв</h2>
        <p>Интернет-магазин</p>
      </article>
    </div>
    <div class="cases__request">
      <p>Оставьте свою заявку, чтобы получить <span>бесплатную</span> консултацию!</p>
      <button type="button">Оставить заявку</button>
    </div>
  </div>
</section>
