<section class="clients">
  <div class="container">
    <h2>Наши клиенты</h2>
    <div class="clients__slider slider">
      <div class="clients__list slider__wrapper">
        <a href="#" class="clients__item slider__item"><img src="img/client-01@1x.png" srcset="img/client-01@2x.png 2x"
            alt="Ревьера Парк"><span>01</span></a>
        <a href="#" class="clients__item slider__item" href="#"><span>02</span><img src="img/client-02@1x.png" srcset="img/client-02@2x.png 2x"
            alt="Новая аптека"></a>
        <a href="#" class="clients__item slider__item" href="#"><span>03</span><img src="img/client-03@1x.png" srcset="img/client-03@2x.png 2x"
            alt="Smart shop stereo"></a>
        <a href="#" class="clients__item slider__item" href="#"><span>04</span><img src="img/client-04@1x.png" srcset="img/client-04@2x.png 2x"
            alt="Синьор Помидор"></a>
      </div>
      <div class="slider__btn">
        <button type="button" aria-label="Назад"></button>
        <button type="button" aria-label="Вперед"></button>
      </div>
    </div>
  </div>
</section>
