<section class="clients">
  <h2>Наши клиенты</h2>
  <div class="clients__slider slider">
  <a href="#" class="slider__item"><img src="img/client-01@1x.png" srcset="img/client-01@2x.png 2x" alt="Ревьера Парк"></a>
  <a class="visually-hidden slider__item" href="#"><img src="img/client-02@1x.png" srcset="img/client-02@2x.png 2x" alt="Новая аптека"></a>
  <a class="visually-hidden slider__item" href="#"><img src="img/client-03@1x.png" srcset="img/client-03@2x.png 2x" alt="Smart shop stereo"></a>
  <a class="visually-hidden slider__item" href="#"><img src="img/client-04@1x.png" srcset="img/client-04@2x.png 2x" alt="Синьор Помидор"></a>
  <div class="slider__btn">
    <button type="button" aria-label="Назад">Назад</button>
    <button type="button" aria-label="Вперед">Вперед</button>
  </div>
</div>
</section>
