<section class="feature">
  <h2 class="visually-hidden">Нашы особенности</h2>
  <ul class="feature__list">
    <li>
      <img width="240" height="240" src="img/mobile/payment-mobile@1x.png" srcset="img/mobile/payment-mobile@2x.png 2x" alt="Оплата">
      <p>Принимайте платежи картой, с помощью удобных платежных систем!</p>
      <span>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard, Яндекс.Деньгами, со счета мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</span>
      <div class="sevice-logo">
        <img width="157" height="44" src="/img/logo-sberbank@1x.png" srcset="/img/logo-sberbank@2x.png 2x" alt="Сбербанк онлайн">
        <img width="196" height="54" src="/img/logo-yandex@1x.png" srcset="/img/logo-yandex@2x.png 2x" alt="Яндекс касса">
        <img width="196" height="29" src="/img/logo-robokassa@1x.png" srcset="/img/logo-robokassa@2x.png 2x" alt="Робокасса">
      </div>
    </li>
    <li>
      <img width="280" height="203" src="img/mobile/security-mobile@1x.png" srcset="img/mobile/security-mobile@2x.png 2x" alt="Защита">
      <p>Принимайте картой, пустые нули!</p>
      <span>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши покупатели смогут безопасно.</span>
    </li>
    <li>
      <img width="240" height="240" src="img/mobile/1C-mobile@1x.png" srcset="img/mobile/1C-mobile@2x.png 2x" alt="1C">
      <p>Интегрируем неинтегрируемое!</p>
      <span>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши покупатели смогут безопасно.</span>
    </li>
  </ul>
  <div class="feature__link">
    <a href="#" class="feature__link-security">Безопастность</a>
    <a href="#" class="feature__link-1c">CRM & 1C</a>
    <a href="#" class="feature__link-payment">Онлайн оплата</a>
  </div>
</section>
