<section class="feature">
  <div class="container">
    <h2 class="visually-hidden">Нашы особенности</h2>
    <ul class="feature__list">
      <li class="feature__item feature__item-payment feature__item--active">
        <picture>
          <source srcset="img/desktop/payment-desktop@1x.png, img/desktop/payment-desktop@2x.png 2x"
            media="(min-width: 1024px)">
          <img src="img/mobile/payment-mobile@1x.png" srcset="img/mobile/payment-mobile@2x.png 2x" alt="Оплата">
        </picture>
        <div class="feature__wrapper">
          <p>Принимайте платежи картой, с&nbsp;помощью удобных платежных&nbsp;систем!</p>
          <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
            покупатели&nbsp;смогут безопасно оплатить товар или услугу картой&nbsp;Visa или Mastercard, Яндекс.Деньгами, со счета
            мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</p>
          <div class="sevice-logo">
            <img width="157" height="44" src="/img/logo-sberbank@1x.png" srcset="/img/logo-sberbank@2x.png 2x"
              alt="Сбербанк онлайн">
            <img width="196" height="54" src="/img/logo-yandex@1x.png" srcset="/img/logo-yandex@2x.png 2x"
              alt="Яндекс касса">
            <img width="196" height="29" src="/img/logo-robokassa@1x.png" srcset="/img/logo-robokassa@2x.png 2x"
              alt="Робокасса">
          </div>
        </div>
      </li>
      <li class="feature__item feature__item-security">
        <picture>
          <source srcset="img/desktop/security-desktop@1x.png, img/desktop/security-desktop@2x.png 2x"
            media="(min-width: 1024px)">
          <img src="img/mobile/security-mobile@1x.png" srcset="img/mobile/security-mobile@2x.png 2x" alt="Защита">
        </picture>
        <div class="feature__wrapper">
          <p>Принимайте картой, пустые&nbsp;нули!</p>
          <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
            покупатели смогут безопасно.</p>
        </div>
      </li>
      <li class="feature__item feature__item-1c">
        <picture>
          <source srcset="img/desktop/1C-desktop@1x.png 1x, img/desktop/1C-desktop@2x.png 2x" media="(min-width: 1024px)">
          <img src="img/mobile/1C-mobile@1x.png" srcset="img/mobile/1C-mobile@2x.png 2x" alt="1C">
        </picture>
        <div class="feature__wrapper">
          <p>Интегрируем &nbsp;неинтегрируемое!</p>
          <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
            покупатели смогут безопасно.</p>
        </div>
      </li>
    </ul>
    <div class="feature__link">
      <a href="#" class="feature__link-item feature__link-security">Безопастность</a>
      <a href="#" class="feature__link-item feature__link-1c">CRM & 1C</a>
      <a href="#" class="feature__link-item feature__link-payment feature__link-item--active">Онлайн оплата</a>
    </div>
  </div>
</section>
