<section class="how-we-work">
  <h1>Как мы работаем над вашим проектом</h1>
  <ul>
    <li>
      <span>01</span>Анализ целевой аудитории
      <span>Подробнее</span>
      <div class="how-we-work__description">
        <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
          покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard, Яндекс.Деньгами, со счета
          мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</p>
      </div>
    </li>
    <li>
      <span>02</span>Подготовка ТЗ
      <span>Подробнее</span>
      <div class="how-we-work__description">
        <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
          покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard, Яндекс.Деньгами, со счета
          мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</p>
      </div>
    </li>
    <li>
      <span>03</span>Подписание договора и оплата
      <span>Подробнее</span>
      <div class="how-we-work__description">
        <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
          покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard, Яндекс.Деньгами, со счета
          мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</p>
      </div>
    </li>
    <li>
      <span>04</span>Разработка сайта интернет-магазина
      <span>Подробнее</span>
      <div class="how-we-work__description">
        <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
          покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard, Яндекс.Деньгами, со счета
          мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</p>
      </div>
    </li>
    <li>
      <span>05</span>Настрока и наполнение интернет-магазина
      <span>Подробнее</span>
      <div class="how-we-work__description">
        <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
          покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard, Яндекс.Деньгами, со счета
          мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</p>
      </div>
    </li>
    <li>
      <span>06</span>Привлечение покупателей
      <span>Подробнее</span>
      <div class="how-we-work__description">
        <p>Подключите один из надежных сервисов: Яндекс.Деньги, Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
          покупатели смогут безопасно оплатить товар или услугу картой Visa или Mastercard, Яндекс.Деньгами, со счета
          мобильного телефона, через Сбербанк Онлайн или Альфа Клик.</p>
      </div>
    </li>
  </ul>
</section>
