<section class="promo">
  <div class="container">
    <div class="promo__wrapper">
      <h1>E-commerce</h1>
      <p>Интернет-магазин принесет вам максимум прибыли!</p>
      <picture>
        <source srcset="img/desktop/promo-desktop@1x.png, img/desktop/promo-desktop@2x.png 2x"
          media="(min-width: 1024px)">
        <img src="img/mobile/promo-mobile@1x.png" srcset="img/mobile/promo-mobile@2x.png 2x"
          alt="Мобильное приложение Интернет-магазин - E-commerce">
      </picture>
      <span>Рассказываем что такое интернет магазин и зачем это нужно.</span>
      <button type="button"><span>Выйти на связь</span><span>Заказать звонок</span></button>
      <span>Ответим на любой вопрос</span>
    </div>
  </div>
</section>
