<footer class="footer">
  <div class="container">
    <a class="footer__logo">
      <picture>
        <source srcset="img/desktop/logo-footer-desktop@1x.png, img/desktop/logo-footer-desktop@1x.png, 2x"
          media="(min-width: 1024px)">
        <img src="img/mobile/logo-footer-mobile@1x.png" srcset="img/mobile/logo-footer-mobile@2x.png 2x"
          alt="Логотип Web-Alternative">
      </picture>
    </a>
    <div class="footer__wrapper">
      <section class="footer__contacts">
        <h2>Контакты</h2>
        <p>ул. Волочаевская, 8г</p>
        <a href="tel:+74212470300" class="footer__contacts-phone">+7 (4212)470-300</a>
        <a href="tel:+74212253085" class="footer__contacts-phone">+7 (4212) 25-30-85</a>
      </section>
      <section class="footer__social">
        <h2>Мы в соцсетях</h2>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">Vkontakte</a>
      </section>
    </div>
    <div class="footer__map">
      <p>Найди нас на&nbsp;карте</p>
      <a href="#">
        <picture>
          <source srcset="img/desktop/map-circle-desktop@1x.png, img/desktop/map-circle-desktop@2x.png, 2x"
            media="(min-width: 1024px)">
          <img src="img/mobile/map-circle-mobile@1x.png"
            srcset="img/mobile/map-circle-mobile@2x.png 2x" alt="ул. Волочаевская, 8г">
        </picture>
      </a>
    </div>
  </div>
</footer>
